.AddProduct{
    top: 0;
    background: var(--main-bg);
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 999;
    animation-duration: 400ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    overflow: hidden;
    box-sizing: border-box;
    --addProd-border-color: #444444;
}
/* .up{
    height: 100vh;
    animation-name: makeup;
}
.down{
    animation-name: putdown;
}
@keyframes makeup {
    0%{
        top: 650px;
        
    }
    100%{
        top: 0;

    }
}

@keyframes putdown {
    0%{
        top: 0;
        height: 100vh;
    }
    100%{
        top: 650px;
        height: 0;
    }
} */

.back-btn-box{
    position: relative;
    padding: 20px;
    color: var(--pri-color);
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
    width: max-content;
    font-size: 15px;
    font-weight: 500;
}

.back-btn-box:hover{
    color: var(--primary);
}
.back-btn-box > span{
    height: 23px;
}

.sub-head{
    color: var(--pri-color);
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
}
.mod-heading{
    color: var(--pri-font-color);
    margin-top: 10px;
    font-weight: 700;
    font-size: 22px;
}

.mod-body-left{
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 30vw;
}
.mod-body-right{
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 70vw;
}






.mod-footer{
    position: absolute;
    bottom: 0;
    height: 10vh;
    width: 100%;
    background: var(--sec-bg);
    font-size: 13px;
    color: var(--primary);
    color: #c2c2c2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1%;
    padding: 0 20px;
    box-sizing: border-box;
}

.draft-btn, .prev-btn, .next-btn {
    border: 1px solid var(--primary);
    border: 1px solid #c2c2c2;
    border-radius: 10px;
    width: 120px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    cursor: pointer;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
}
.vert{
    border-left: 2px solid var(--border-color);
    width: 1px;
    height: 35px;
}
.prev-btn:hover, .draft-btn:hover{
    color: var(--primary);
    border-color: var(--primary);
}


.next-btn:hover{
    transform: translate(-2px, -2px);
    box-shadow: 2px 2px 12px var(--primary-bg);
}
.next-btn:active{
    transform: translate(0px, 0px);
    box-shadow: none;
}




/* .next-btn:hover{
    border: none;
    background: var(--primary);
    color: var(--main-bg);
    animation-name: shadowonclick;
    animation-duration: 200ms;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
} */

@keyframes shadowonclick {
    from{
        box-shadow: 0px 0px 0px var(--primary);
    }
    to{
        box-shadow: 0px 0px 12px var(--primary);
    }
}


/* ------ Box -------- */

.modal-mid-cont{
    display: flex;
    margin-top: 24px;
}

.mbr-box1{
    padding: 15px 25px;
    position: relative;
    background: var(--sec-bg);
    width: 60%;
    /* height: 350px; */
    box-sizing: border-box;
    border-radius: 10px;
}
.img-box > span {
    text-align: left;
}
.img-box{
    box-sizing: border-box;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* max-height: 50vh; */
    /* overflow: auto; */
}
/* .img-box::-webkit-scrollbar {
    width: 0px;
} */
.img-select{
    position: relative;
    border: 2px dashed var(--addProd-border-color);
    width: 100%;
    height: 160px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
}
.img-select > .is-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.img-box > .shofiles-cont{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-height: 250px !important;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.img-box > .shofiles-cont::-webkit-scrollbar{
    width: 20px;
}


.ShowFiles{
    box-sizing: border-box;
    position: relative;
    border: 1px solid var(--addProd-border-color);
    width: 100%;
    height: 40px;
    border-radius: 5px;
    /* cursor: pointer; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
}
.ShowFiles > .imu-loader{
    position: absolute;
    left: 0;
    height: 100%;
    width: 30%;
    background: var(--primary-bg-transp);
    transition: width 800ms ease-in-out;
    border-radius: 3 px;
}
.ShowFiles > .imu-span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.ShowFiles > .cancel-ico{
    position: absolute;
    box-sizing: border-box;
    right: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.ShowFiles > .iml-img {
    border-radius: 2px;
    /* background-size: 10%; */
    width: 30px;
    height: 30px;
    /* background: url('https://www.wearcomet.com/cdn/shop/files/Lateral-View1-min.jpg?v=1698135135&width=600'); */
}

.img-select >  #img-inp{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}