.Body > div:nth-child(1){
    height: 90vh;
    background: var(--main-bg);
    padding: 0 20px;
    padding-top: 1%;
    box-sizing: border-box;
}

/* h1, h2, h3, h4, h5, h6 {
    display: block;
    font-size: unset;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
} */