*{
    margin: 0;
    padding: 0;
}
/* .body{
    width: 100%;
    height: 100%;
    background-color: #DFE7F0;
    overflow: hidden;
    position: absolute;

} */

@keyframes animate-left {
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}
.table-2{
    width: 60%;
    height: 80%;
    border-radius: 10px;
    background-color: white;
    margin: 2%  auto;
    box-shadow: 0px 0px 40px lightgrey;
    right: auto;
    opacity: 1;
    transform: scale(1);
    overflow: hidden;
    position: relative;
    /* animation-name: animate-left; */
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

.table-body-2:-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
.table-body-2:-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    border-radius: 10px;
  }
  
  /* Handle */
.table-body-2:-webkit-scrollbar-thumb {
    background: #000b7a;
    border-radius: 10px;
  }

.table-filter-2{
    height: 40px;
    background-color: #F0FFFD;
    padding-left: 3%;
    font-size: 14px;
    font-weight: 500;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
}
.table-filter-2 span{
    opacity: 50%;
    cursor: pointer;
}



.table-body-2{
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 2.75%;
    height: auto;
    height: 90%;
    /* overflow-y: auto; */
}

.table-body-2::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
.table-body-2::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px yellow; */
    border-radius: 10px;
  }
  
  /* Handle */
.table-body-2::-webkit-scrollbar-thumb {
    background: #000b7a;
    border-radius: 10px;
  }

.name, .spec, .price, .image, .categ, .avil, .desc{
    display: flex;
    width: auto;
    align-items: center;
    justify-content: left;
    gap: 30px;
    justify-self: left;
}

.lbl{
    font-size: 22px;
    font-weight: 500;
}

.table-body-2 .uid-box{
    display: flex;
    width: auto;
    background: lightsteelblue;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    gap: 20px;
    padding-left: 1%;
    padding-right: 1%;
    align-items: center;
    text-align: center;
    max-width: max-content;
}

.table-body-2 form span{
    font-size: 20px;
    font-weight: 500;
}   

.table-body-2 form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4,1fr);
    padding-left: 4.5%;
    height: 80%;
    grid-auto-flow: column;
    align-items: center;
}

.text-in{
    width: 177px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
    outline: none;
    box-shadow: 0px 1.74px 3.78px #0f2d5aa8;
    padding-left: 10px;
    font-size: 18px;
}

.spec div{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
/* .image div{
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.image .upload-icon{
    position: absolute;
}

.abso{
    width: 232px;
    height: 143px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upl-box{
    width: 232px;
    height: 143px;
    position: relative;
    background: #FFFFFF;
    border: 1px dashed #010030;
    box-shadow: 0px 4px 12px rgba(0, 60, 151, 0.5);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.upl-box input{
    opacity: 0;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.upl-box img{
    width: 100%;
    height: 100%;
    position: absolute;
    /* z-index: 1; */
    object-fit: cover;
}

#category{
    width: 177.45px;
    height: 29.57px;
    padding-left: 2%;
    padding-right: 2%;
    background: #FFFFFF;
    box-shadow: 0px 1.73967px 3.47933px rgba(0, 60, 151, 0.5);
    border-radius: 5.219px;
    border: none;
    outline: none;
}

.avil div{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.avil svg{
    cursor: pointer;
}

.desc #desc-text{
    width: 232px;
    height: 74px;
    border: none;
    outline: none;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 1.73967px 3.47933px rgba(0, 60, 151, 0.5);
    border-radius: 5.219px;
}

.add-btn{
    width: 260px;
    height: 48px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 2, 47, 0.5);
    border-radius: 50px;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    justify-self: left;
    cursor: pointer;
    border: none;
}
.add-btn:hover{
    background-color: lightgreen;
}


.footer{
    bottom: 0;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 2%;
    gap:10px;
}
.nav-it{
    /* width: 40%; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 35%;
}




@media only screen and (max-width: 400px) {
    .table-2{
        margin: 0;
        border-radius: 0;
        width: auto; 
        height: -webkit-fill-available;
    }
    .table-body-2{
        padding-top: 15px;
        position: relative;
        /* height: 100%; */
        overflow: auto;
        overflow: scroll;
        
    }
    .table-body-2 form{
        padding-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 30px;
        padding: 0;
        overflow: scroll;
        padding-bottom: 5%;
        height: 90%;
    }
    .table-body-2 form >div{
        gap: 10px;
    }
    .add-btn{
        margin-left: 15%;
        padding: 20px;
    }
    .desc span{
        font-size: medium !important;
    }
    .desc #desc-text{
        width:206px;
    }
}