/* *{

  transition-property:  background, background-color, border;
  transition-duration: 500ms;
  transition-timing-function: ease-in;
} */

.App-dark {
  text-align: center;
  background-color: #DFE7F0;
  --inv-pri-font-color: #003656;
  --pri-font-color: white;
  --main-bg: #141e22;
  --sec-bg: #1a262d;
  --ter-bg: #202e36;
  --primary: #39db7d;
  --border-color: #80a59042;
  --pri-color: #74817f;
  --primary-bg-transp: #39db7d2b;
  --inv-search-box: #010a0e;

}

.App{
  text-align: center;
  background-color: #DFE7F0;
  --inv-pri-font-color: white;
  --pri-font-color: #003656;
  --main-bg: #f6fcff;
  --sec-bg: #e4f5ff;
  --ter-bg: #cee9f9;
  --primary: #0074b9;
  --border-color: #c6ddeb;
  --pri-color: #188d7b;
  --primary-bg-transp: #7fcdfb;
  --inv-search-box: #e2f5ff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





.prog-cont{
  position: absolute;
  top: 0;
  width: 100%;
  height: 5px;
}

.progresBar{
  background-color: #FF5757;
  /* width: 10%; */
  height: 5px;
  border-radius: 50px;
  transition-property: width;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(1,.35,.28,.95);
  animation-delay: 500ms;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes fadeProgessBar {
  from{
      opacity: 1;
  }
  to{
      opacity: 0;
  }
}


.SessionExp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--sec-bg);
  text-align: center;
}

.SessionExp h1 {
  font-size: 2.5rem;
  color: var(--pri-font-color);
  margin-bottom: 1rem;
}

.SessionExp p {
  font-size: 1.2rem;
  color: var(--pri-color);
  margin-top: 0;
}