.App {
  text-align: center;
  background-color: #DFE7F0;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





.prog-cont{
  position: absolute;
  top: 0;
  width: 100%;
  height: 5px;
}

.progresBar{
  background-color: #FF5757;
  /* width: 10%; */
  height: 5px;
  border-radius: 50px;
  transition-property: width;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(1,.35,.28,.95);
  animation-delay: 500ms;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes fadeProgessBar {
  from{
      opacity: 1;
  }
  to{
      opacity: 0;
  }
}
